<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
</head>

<body>

    <h1>Kayak Inventory</h1>
    <table>
        <thead>
            <th>Brand</th>
            <th>Model</th>
            <th>Type</th>
            <th>Size</th>
            <th>Tandum</th>
            <th>Qty</th>
            <th>Price</th>
        </thead>

        <% for(items of inventory){ %>
            <tr>
                <td>
                    <%= items.brand %>
                </td>
                <td>
                    <%= items.model %>
                </td>
                <td>
                    <%= items.type %>
                </td>
                <td>
                    <%= items.size %>
                </td>
                <td>
                    <%= items.tandum %>
                </td>
                <td>
                    <%= items.qty %>
                </td>
                <td>
                    <%= items.price %>
                </td>
            </tr>


            <% } %>
    </table>
</body>

</html>